@charset "UTF-8";
.main[b-0107ey48l3] {
  margin: auto auto;
  width: 1024px; }

.div-comm[b-0107ey48l3] {
  border: solid 1px #e4e4e4;
  border-radius: 2px; }

.div-top[b-0107ey48l3] {
  height: 280px; }

.div-login[b-0107ey48l3] {
  float: left;
  width: 214px; }

.div-jipin[b-0107ey48l3] {
  float: left;
  margin-left: 10px;
  width: 430px;
  position: relative; }
  .div-jipin .div-jipin-tab[b-0107ey48l3] {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 107px;
    border-right: solid 1px #dddddd;
    background-color: #ececec;
    text-align: center;
    cursor: pointer; }
    .div-jipin .div-jipin-tab .font-rd[b-0107ey48l3] {
      padding-left: 14px;
      font-size: 14px;
      font-weight: bold;
      background: url("https://www.qzrc.com/QzrcPc/images/rdgg_01.png") no-repeat 6px center; }
    .div-jipin .div-jipin-tab .font-zq[b-0107ey48l3] {
      padding-left: 14px;
      font-size: 14px;
      font-weight: bold;
      background: url("https://www.qzrc.com/QzrcPc/images/jp_01.png") no-repeat 6px center; }
    .div-jipin .div-jipin-tab .jipin-tab-box[b-0107ey48l3] {
      position: absolute;
      top: 32px;
      left: 0;
      width: 428px;
      height: 244px;
      display: none; }
  .div-jipin .div-jipin-tab:hover[b-0107ey48l3] {
    background-color: white; }
    .div-jipin .div-jipin-tab:hover .jipin-tab-box[b-0107ey48l3] {
      display: block; }
  .div-jipin .div-jipin-tab:last-child[b-0107ey48l3] {
    border-right: none; }

.div-gg-banner[b-0107ey48l3] {
  float: right;
  width: 360px; }

/*搜索*/
.div-ss[b-0107ey48l3] {
  padding: 5px;
  width: 1024px;
  height: 60px; }

/*会员*/
.div-vip[b-0107ey48l3] {
  padding: 5px;
  height: auto;
  min-height: 40px; }
