@page "/"
@* show one (登录、急聘、广告) *@
<div class="main">
    <div class="div-login"></div>
</div>
<div class="clear-b"></div>
@* show two (搜索、热门关键字) *@
<div class="main">

</div>
<div class="clear-b"></div>
@* show shree (图片会员专区，包括一、二、三、四、五、六张图片的情况) *@
<div class="main">

</div>
<div class="clear-b"></div>