$width:1024px;
$color-border: #e4e4e4;

.main {
    margin: auto auto;
    width:$width;
    position:relative;
}
.div-comm {
    border: solid 1px $color-border;
    border-radius: 2px;
}
.div-top {
    height: 280px;
    
}

.div-login{
    float:left;
    width:214px;
    
}
.div-jipin {
    float: left;
    margin-left: 10px;
    width: 430px;
    position: relative;

    .div-jipin-tab {
        float: left;

        $tab-heigh: 32px;
        height: $tab-heigh;
        line-height: $tab-heigh;
        width: ((430px)-2px)/4;
        border-right: solid 1px #dddddd;
        background-color: #ececec;
        text-align: center;
        cursor: pointer;

        .font-rd {
            padding-left: 14px;
            font-size: 14px;
            font-weight: bold;
            background: url('https://www.qzrc.com/QzrcPc/images/rdgg_01.png') no-repeat 6px center;
        }

        .font-zq {
            padding-left: 14px;
            font-size: 14px;
            font-weight: bold;
            background: url('https://www.qzrc.com/QzrcPc/images/jp_01.png') no-repeat 6px center;
        }

        .jipin-tab-box {
            position: absolute;
            top: $tab-heigh;
            left: 0;
            width: (430px)-2px;
            height: (280px)-(34px)-2px;
            text-align: left;
            display: none;

            .rd-gg {
                padding-left: 17px;
                /*font-size: 14px;*/
                font-weight: bold;
                line-height: 24px;
                overflow: hidden;
                background: url('https://www.qzrc.com/QzrcPc/images/5-120601154112.jpg') no-repeat 5px 7px;

                .rd-gg-color-1 {
                    color: rgb(255,0,0);
                }

                .rd-gg-color-2 {
                    color: blue;
                }

                .rd-gg-color-3 {
                    color: rgb(0,128,0);
                }

                .rd-gg-color-4 {
                    color: rgb(0,0,0);
                }
            }

            .jp-box {
                float: left;
                /*position: relative;*/
                padding-left: 24px;
                width: ((430px)-2px)/2;
                line-height: 24px;
                /*overflow: hidden;*/
                background: url('https://www.qzrc.com/QzrcPc/images/quick.gif') no-repeat 5px 5px;

                a {
                    color: rgb(255,0,0);
                    text-decoration: none;
                }

                a.font-bold {
                    font-weight: bold;
                }

                .zp-zwlist {
                    top: 24px;
                }
            }
        }
    }



    /*.div-jipin-tab:hover,*/.div-jipin-tab-hover {
        background-color: rgb(255,255,255);

        .jipin-tab-box {
            display: block;
        }
    }

    .div-jipin-tab:last-child {
        border-right: none;
    }
}



.div-gg-banner{
    float:right;
    width:($width)-(214px)-(430px)-(20px);
}
/*搜索*/
.div-ss{
    padding:5px;
    width:$width;
    height:60px;
}
/*会员*/
.div-vip {
    /*padding: 5px;*/
    height: auto;
    min-height: 40px;
    .div-title-box {
        padding: 5px;
        width: 100%;
        height: 32px;
        border-bottom: solid 1px $color-border;

        .line {
            float: left;
            margin-top: 8px;
            width: 5px;
            height: 15px;
            background-color: rgb(255,0,0);
        }

        .space {
            float: left;
            padding: 0 10px;
            line-height: 32px;
            font-size: 16px;
            font-weight: bold;
            vertical-align: middle;
        }

        .remark {
            float: left;
            line-height: 32px;
            /*color:#ddd;*/
        }
    }
    /*内容*/
    .div-content-box {
        padding: 5px;
        width: 100%;
        height: auto;

        .vip-div-comm {
            float: left;
            /*position: relative;*/
            cursor: pointer;
        }
        /*图片会员*/
        .vip-img-2 { /*一张图的情况*/
            width: (($width)-12px)/2;
            height: 80px;
            padding: 0 10px;

            img {
                border: none;
                width: (($width)-12px)/2;
                height: 80px;
            }

            .zp-zwlist {
                top: 60px;
            }
        }

        .vip-img-2:first-child {
            padding-left: 0;
        }

        .vip-img-2:last-child {
            padding-right: 0;
        }
    }
}



/*首页职们显示列表*/
.zp-zwlist {
    position: absolute;
    left: 24px;
    
    min-width: ((430px)-2px)/2;
    line-height: 24px;
    padding-left: 32px;
    border: solid 1px rgb(255,0,0);
    background-color: rgb(255,255,255);
    background-image: url('https://qzrc.com/QzrcPc/images/ts.jpg');
    background-repeat: repeat-y;
    display: none;
    z-index: 99;

    .li {
        width: 100%;
        height: 24px;
        line-height: 24px;
        text-align: left;
        overflow: hidden;

        a:hover {
            font-weight: bold;
        }
    }

    .li:last-child {
        text-align: right;
    }
}
/*鼠标移动后显示的职位信息*/
.jp-box:hover, .vip-img-2:hover {
    position:relative;
    .zp-zwlist {
        display: block;
    }
}