@charset "UTF-8";
.main {
  margin: auto auto;
  width: 1024px; }

.div-comm {
  border: solid 1px #e4e4e4;
  border-radius: 2px; }

.div-top {
  height: 280px; }

.div-login {
  float: left;
  width: 214px; }

.div-jipin {
  float: left;
  margin-left: 10px;
  width: 430px;
  position: relative; }
  .div-jipin .div-jipin-tab {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 107px;
    border-right: solid 1px #dddddd;
    background-color: #ececec;
    text-align: center;
    cursor: pointer; }
    .div-jipin .div-jipin-tab .font-rd {
      padding-left: 14px;
      font-size: 14px;
      font-weight: bold;
      background: url("https://www.qzrc.com/QzrcPc/images/rdgg_01.png") no-repeat 6px center; }
    .div-jipin .div-jipin-tab .font-zq {
      padding-left: 14px;
      font-size: 14px;
      font-weight: bold;
      background: url("https://www.qzrc.com/QzrcPc/images/jp_01.png") no-repeat 6px center; }
    .div-jipin .div-jipin-tab .jipin-tab-box {
      position: absolute;
      top: 32px;
      left: 0;
      width: 428px;
      height: 244px;
      display: none; }
  .div-jipin .div-jipin-tab:hover {
    background-color: white; }
    .div-jipin .div-jipin-tab:hover .jipin-tab-box {
      display: block; }
  .div-jipin .div-jipin-tab:last-child {
    border-right: none; }

.div-gg-banner {
  float: right;
  width: 360px; }

/*搜索*/
.div-ss {
  padding: 5px;
  width: 1024px;
  height: 60px; }

/*会员*/
.div-vip {
  padding: 5px;
  height: auto;
  min-height: 40px; }
