@page "/"
@namespace Rs.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Rs.Config;
@{
    Layout = null;
    SiteConfig config = Web.Json.ReadConfigFile<SiteConfig>(Web.Json.SiteConfigFile);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@config.SiteName-@config.Http</title>
    <meta name="keywords" content="@config.KeyWords"/>
    <meta name="description" content="@config.Description"/>
    <base href="~/" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Rs.Web.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
