@inherits LayoutComponentBase


<div class="top-menus">
    <div class="menus-nav">
        <div class="nav-li"><a href="/">联系我们</a></div>
        <div class="nav-splite">|</div>
        <div class="nav-li"><a href="/">收费标准</a></div>
        <div class="nav-li"><font>APP下载</font><div class="qr-code"><div class="qr-code-img"></div></div></div>
        <div class="nav-li"><font>小程序</font><div class="qr-code"><div class="qr-code-img"></div></div></div>
        <div class="nav-li"><font>公众号</font><div class="qr-code"><div class="qr-code-img"></div></div></div>
        <div class="nav-li"><font>服务号</font><div class="qr-code"><div class="qr-code-img"></div></div></div>
    </div>
</div>
<div class="clear-b"></div>
<div class="main">
    <div class="loger-banner">
        <div class="loger"></div>
        <div class="beian"></div>
        <div class="banner"></div>
    </div>
</div>
<div class="clear-b"></div>
<div class="menu-navs">
    <div class=" mnues-nav"></div>
    @Body
</div>
<div class="page">
        @*<div class="sidebar">
            <NavMenu />
        </div>*@
    
    <div class="clear-b"></div>
    
</div>
